{% extends "page.twig" %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-xl text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="text-primary mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">404 - Page not found</h2>
          <div class="mb-4 font-light">Sorry, we couldn't find that content.</div>
      </div>
  </div>
</section>
{% endblock %}