<footer id="footer" class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl text-center prose">
		<a href="{{site_url}}" class="flex justify-center items-center text-xl no-underline">
			<span class="font-bold text-slate-800 dark:text-white">Whale</span>
			<span class="text-slate-500 dark:text-white">Press</span>
		</a>
		<p class="dark:text-white">For more information on getting started with DokPress, visit the wiki
			<a class="dark:text-white" href="https://github.com/ufmedia/DokPress/wiki">here</a>.</p>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©
			{{ fn('date', 'Y') }}
			<a href="#" class="hover:underline dark:text-white">WhalePress</a>. All Rights Reserved.</span>
	</div>
</footer>
