.navbar-brand {
    img {
        width:175px;
    }
}

.nav-link {
    color:$light;
}
.current-menu-item, .current-menu-ancestor {
    .nav-link {
        color:$primary;
    }
}


.dropdown-menu {
    background-color:$dark;
    padding:30px;
    .dropdown-item {
        color:#fff;
        &:hover {
            background-color:$dark;
            color:$primary;
        }
    }
    border-bottom:3px solid $primary;
    .current_page_item {
        a {
            color:$primary;
        }
    }
} 