# Ignore WordPress root files and directories
/wp-admin/
/wp-includes/
/wp-content/*
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config-docker.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/.htaccess
/LICENSE
/license.txt
/readme.html

#WordPress Theme Exceptions
!/wp-content/themes
wp-content/themes/*
!wp-content/themes/whalepress/

#WordPress Plugin Exceptions
!wp-content/plugins/
#wp-content/plugins/*
#!wp-content/plugins/example-plugin/


#Additional files and directories
.DS_Store
.env
.idea/
/vendor/
wp-content/vendor/
phpinfo.php
node_modules
local/var
