x-www-volume:  
  &www-volume
  type: bind
  source: ./
  target: /var/www/html/

volumes:
  mysql_data:
    name: ${PROJECT_NAME}_mysql_data

services:
  db:
    container_name: ${PROJECT_NAME}_db
    image: mysql:9.0.1
    platform: linux/amd64
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}

  wordpress:
    container_name: ${PROJECT_NAME}_wordpress
    depends_on:
      - db
    platform: linux/amd64
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - ${WP_PORT}:80
    env_file:
      - ./.env
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      WP_DEBUG: ${WP_DEBUG}
      WP_DISABLE_FATAL_ERROR_HANDLER: ${WP_DISABLE_FATAL_ERROR_HANDLER}
      WP_DEBUG_LOG: ${WP_DEBUG_LOG}
      WP_DEBUG_DISPLAY: ${WP_DEBUG_DISPLAY}
    volumes:
      - *www-volume
