//Bootstrap Variables
//@import "../node_modules/bootstrap/scss/functions";

//Theme Variables and Config
@import "helpers/config";
@import "helpers/theme-functions";
@import "helpers/keyframes";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/animations";

@import "../node_modules/bootstrap/scss/bootstrap";

//Required Bootstrap
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";
//@import "../node_modules/bootstrap/scss/root";

//Optional Bootstrap Components
//@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/helpers";

// Optional Bootstrap API
//@import "../node_modules/bootstrap/scss/utilities/api";

//Theme Base
@import "base/base";
@import "base/typography";

//Theme Layouts
@import "layout/header";
@import "layout/page";
@import "layout/footer";

//Theme components
@import "components/button";
@import "components/forms";
@import "components/hero";
@import "components/nav";
@import "components/pagination";
