.slide-left {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    &.active { 
        -webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.slide-right {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    &.active {
        -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

.bounce {
    &.active {
        -webkit-animation: bounce 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: bounce 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.zoom {
    &.active {
        -webkit-animation: zoom 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: zoom 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.shake {
    &.active {
        -webkit-animation: shake 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shake 1.5s .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}


@mixin slide-left {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    &.active { 
        -webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

@mixin slide-right {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    &.active {
        -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

@mixin bounce($duration:1.5s) {
    -webkit-animation: bounce $duration .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: bounce $duration .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@mixin zoom($duration:1.5s) {

    -webkit-animation: zoom $duration .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: zoom $duration .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}