//$primary: red;
//$secondary: blue;
//$sucess: blue;
//$warning: blue;
//$danger: blue;
//$light: blue;
//$dark: blue;

$headings-font-family: atten-new, sans-serif;

$grey2:#ccc;
$grey1: #ccc;

$marg: 30px;
$pad: 30px;
 

$navHeight:80px;

//Responsive font defaults

$h1Max:45px;
$h2Max:40px;
$h3Max:35px;
$h4Max:25px;

$h1Min:20px;
$h2Min:20px;
$h3Min:15px;
$h4Min:16px;

$minFontWidth: 10px;
$maxFontWidth: 1600px;
$minFont: 16px;
$maxFont: 60px;

//Burger 

$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 23px;
$hamburger-layer-width         : 40px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
//$hamburger-layer-color         : $color3;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.7;
//$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

//Media Queries

$media-max-xs: "only screen and (max-width : 575px)";
$media-max-sm: "only screen and (max-width : 767px)";
$media-max-md: "only screen and (max-width : 991px)";
$media-max-lg: "only screen and (max-width : 1199px)";

$media-min-xs: "only screen and (min-width : 575px)";
$media-min-sm: "only screen and (min-width : 767px)";
$media-min-md: "only screen and (min-width : 991px)";
$media-min-lg: "only screen and (min-width : 1199px)";

//EG @media #{$media-max-xs} { 

//Global Variables


$universalTransitionTime: .25s;


