//Global classes
.b-lazy {
    @include transitionCustom(Opacity, ease, 1.5s);
    opacity:0;
}
.b-loaded {
    @include transitionCustom(Opacity, ease, 1.5s);
    opacity:1;
}

.img-fit {
    object-fit: cover;
    width:100%!important;
    height:100%!important;
}

.img-contain {
    object-fit: contain;
    width:100%!important;
    height:100%!important;
}

.fade-in {
    opacity:0; 
    @include transitionCustom(Opacity); 
}

.grecaptcha-badge {
    opacity:0 !important;
}