name: Deploy to ECR
run-name: "Deploy to ECR"

on:
  workflow_run:
    workflows: ["DISABLED"] # Change to "Create Release" to enable

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Set image name
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "ACCOUNT_ID=$ACCOUNT_ID" >> $GITHUB_ENV
          REPO_NAME=$(basename "${GITHUB_REPOSITORY}")
          echo "IMAGE_NAME=${ACCOUNT_ID}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${REPO_NAME}" >> $GITHUB_ENV

      - name: Fetch latest SemVer tag
        run: |
          git fetch --tags
          TAG=$(git tag --sort=-v:refname | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
          echo "VERSION_TAG=$TAG" >> $GITHUB_ENV
          echo "Deploying version: $TAG"

      - name: Create auth.json
        run: |
          cat <<EOF > auth.json
          {
            "http-basic": {
              "connect.advancedcustomfields.com": {
                "username": "${{ secrets.ACF_EMAIL }}",
                "password": "${{ secrets.ACF_KEY }}"
              }
            }
          }
          EOF

      - name: Create .env file for Composer
        run: |
          cat <<EOF > .env
          GRAVITY_FORMS_KEY=${{ secrets.GRAVITY_FORMS_KEY }}
          RELEVANSSI_KEY=${{ secrets.RELEVANSSI_KEY }}
          EOF

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image to ECR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.VERSION_TAG }}
            ${{ env.IMAGE_NAME }}:latest

      - name: Cleanup sensitive files
        run: rm -f auth.json
