name: OWASPZAP Basline
on:
  schedule:
    - cron: '0 0 * * SAT'
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: OWASP ZAP Baseline Scan
        # You may pin to the exact commit or the version.
       
        uses: zaproxy/action-baseline@v0.14.0
        with:
          # Target URL
          target: "https://www.security.gov.uk/"
